@import '../../colors.scss';

.xpbar {
  text-align: left;
  font-family: 'Bellefair', serif;
  font-size: 14px;
  color: $color-light;
  flex-wrap: wrap;
  margin: 0 2px 2px 2px;
  padding-top: 10px;
  width: calc(50% - 4px);
  border-radius: 16px;
  background-color: $color-dark;
  user-select: none;

  .text {
    padding-left: 7%;
    color: $color-light;

    &.error {
      color: #F60;
    }
  }

  .tier-placeholder {
    position: absolute;
    margin-top: -26px;
    margin-left: 0px;
    height: 34px;
    width: 120px;
    border-right: 1px solid $color-gray;
    border-radius: 16px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    justify-content: flex-end;
    
    svg {
      display: none;
      padding-top: 4px;
      margin-right: -13px;

      &.warned {
        display: block;
      }
    }
  }
}

