@import '../../colors.scss';

@mixin longSkillWidth() {
  width: calc(40% - 48px);;
}
@mixin triafter($color) {
  position:absolute;
  top: 0px;
  right:-21px;  
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 17px 0 17px 21px;
  border-color: transparent transparent transparent $color;
}
@mixin trixtend($color, $index) {
  background-color: $color;
  text-align: right;
  
  @if $index == 4 {
    @include longSkillWidth();
  } @else {
    width: 8%;
  }
  z-index: 21 - $index;
  margin-left: -1%;
  &:hover {
    filter: brightness(65%);
  }
}
@mixin trileft($color) {
  background-color: $color;
  width: 4%;
  text-align: center;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.skill-grid {
  @include longSkillWidth();
  font-family: 'Alegreya, serif';
  font-size: 16px;
  padding: 8px;
  margin: 4px 0px 0px 0px;
  display: inline-block;
  position: relative;
  color: $color-light;
  cursor: pointer;
  text-overflow: ellipsis;
}
.skill-hidden {
  //visibility: hidden;
  display: none;
}
.skill-grid.skill-lead-left {
  border-right: 1px solid $color-midtone;
  &:hover {
    filter: brightness(125%);
  }
}
.skill-combat-0 {
  @include trileft($color-combat-4);
}
.skill-combat-1 {
  background-color: $color-combat-4;
  z-index: 20;
  &:hover {
    filter: brightness(65%);
  }
}
.skill-combat-2 {
  @include trixtend($color-combat-3, 2);
}
.skill-combat-3 {
  @include trixtend($color-combat-2, 3);
}
.skill-combat-4 {
  @include trixtend($color-combat-1, 4);
}
.skill-combat-1:after{
  @include triafter($color-combat-4);
}
.skill-combat-2:after{
  @include triafter($color-combat-3);
}
.skill-combat-3:after{
  @include triafter($color-combat-2);
}
.skill-combat-4:after{
  @include triafter($color-combat-1);
}
.skill-wasteland-0 {
  @include trileft($color-wasteland-4);
}
.skill-wasteland-1 {
  background-color: $color-wasteland-4;
  z-index: 20;
  &:hover {
    filter: brightness(65%);
  }
}
.skill-wasteland-2 {
  @include trixtend($color-wasteland-3, 2);
}
.skill-wasteland-3 {
  @include trixtend($color-wasteland-2, 3);
}
.skill-wasteland-4 {
  @include trixtend($color-wasteland-1, 4);
}
.skill-wasteland-1:after{
  @include triafter($color-wasteland-4);
}
.skill-wasteland-2:after{
  @include triafter($color-wasteland-3);
}
.skill-wasteland-3:after{
  @include triafter($color-wasteland-2);
}
.skill-wasteland-4:after{
  @include triafter($color-wasteland-1);
}
.skill-anomaly-0 {
  @include trileft($color-anomaly-4);
}
.skill-anomaly-1 {
  background-color: $color-anomaly-4;
  z-index: 20;
  &:hover {
    filter: brightness(65%);
  }
}
.skill-anomaly-2 {
  @include trixtend($color-anomaly-3, 2);
}
.skill-anomaly-3 {
  @include trixtend($color-anomaly-2, 3);
}
.skill-anomaly-4 {
  @include trixtend($color-anomaly-1, 4);
}
.skill-anomaly-1:after{
  @include triafter($color-anomaly-4);
}
.skill-anomaly-2:after{
  @include triafter($color-anomaly-3);
}
.skill-anomaly-3:after{
  @include triafter($color-anomaly-2);
}
.skill-anomaly-4:after{
  @include triafter($color-anomaly-1);
}
.skill-civilized-0 {
  @include trileft($color-civilized-4);
}
.skill-civilized-1 {
  background-color: $color-civilized-4;
  z-index: 20;
  &:hover {
    filter: brightness(65%);
  }
}
.skill-civilized-2 {
  @include trixtend($color-civilized-3, 2);
}
.skill-civilized-3 {
  @include trixtend($color-civilized-2, 3);
}
.skill-civilized-4 {
  @include trixtend($color-civilized-1, 4);
}
.skill-civilized-1:after{
  @include triafter($color-civilized-4);
}
.skill-civilized-2:after{
  @include triafter($color-civilized-3);
}
.skill-civilized-3:after{
  @include triafter($color-civilized-2);
}
.skill-civilized-4:after{
  @include triafter($color-civilized-1);
}
.skill-unused-0 {
  background-color: $color-unused-4;
  width: 16px;
}
.skill-unused-1 {
  background-color: $color-unused-4;
  z-index: 20;
  &:hover {
    filter: brightness(65%);
  }
}
.skill-unused-2 {
  @include trixtend($color-unused-3, 2);
}
.skill-unused-3 {
  @include trixtend($color-unused-2, 3);
}
.skill-unused-4 {
  @include trixtend($color-unused-1, 4);
}
.skill-unused-1:after{
  @include triafter($color-unused-4);
}
.skill-unused-2:after{
  @include triafter($color-unused-3);
}
.skill-unused-3:after{
  @include triafter($color-unused-2);
}
.skill-unused-4:after{
  @include triafter($color-unused-1);
}
