@import '../colors.scss';

.app-window {
  background-color: $color-off-dark;

  .builder {
    display: flex;
    max-width: 480px;
    margin: 42px auto 0 auto;
    background-color: $color-off-dark;
    padding: 16px 0px 0px 0px;
    flex-wrap: wrap;
    margin-bottom: 48px;

    .container {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      margin: 0px 8px;
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    border-top: 1px solid $color-midtone;
    font-style: italic;
    font-size: 12px;
    color: $color-midtone;
    padding: 4px 0px;
    

    .text {
      width: 100%;
      max-width: 480px;
      padding: 0 16px;
    }
  }
}

._loading_overlay_content {
  font-family: Alegreya, serif;

  div {
    margin: 0 auto 16px auto;
  }
}