@import '../../colors.scss';

@mixin striped($color) {
  background: repeating-linear-gradient(
    315deg,
    $color,
    $color 7px,
    $color-dark 7px,
    $color-dark 14px
  );
}
.summary:last-of-type {
  margin-bottom: 0px;
}
.summary {
  margin: 4px 0px;
  color: $color-light;
  display: flex;
  justify-content: space-around;
  font-family: 'Bellefair', serif;
  user-select: none;
}
.xp-summary {
  width: 100%;
}
.summary-combat {
  background-color: $color-combat-4;
  &.summary-filter-inactive {
    @include striped($color-combat-1);
  }
}
.summary-civilized {
  background-color: $color-civilized-4;
  &.summary-filter-inactive {
    @include striped($color-civilized-1);
  }
}
.summary-wasteland {
  background-color: $color-wasteland-4;
  &.summary-filter-inactive {
    @include striped($color-wasteland-1);
  }
}
.summary-anomaly {
  background-color: $color-anomaly-4;
  &.summary-filter-inactive {
    @include striped($color-anomaly-1);
  }
}
.summary.summary-skill {
  width: calc(50% - 20px);
  border-radius: 24px;
  padding: 8px;
  margin: 0px;
  &:hover {
    filter: brightness(125%);
  }
}
.summary.summary-filter-inactive {
  &:hover {
    filter: brightness(150%), saturate(50%);
  }
}

