@import '../../colors.scss';

.MuiPaper-root.MuiAppBar-root {
  font-family: Alegreya, serif;
  font-size: 22px;
  display: flex;
  align-content: center;

  .container {
    display: flex;
    align-content: center;
    justify-container: space-between;
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    padding: 2px 0px 0px 0px;

    .title {
      width: 40%;
      padding: 8px 4px 8px 16px;
      display: flex;

      &.login {
        cursor: pointer;
      }

      .logout {
        border: 1px solid $color-midtone;
        border-radius: 8px;
        cursor: pointer;
        margin-left: 8px;
        display: flex;

        div {
          font-size: 16px;
          padding: 2px 4px;
        }
      } 
    }

    .toonster-container {
      width: 60%;
      text-align: right;
      margin-right: auto;
      margin-left: 0;
    }
  }
}