@import '../../colors.scss';

.MuiPaper-root.MuiAppBar-root {
  font-family: Alegreya, serif;
  font-size: 22px;
  display: flex;
  align-content: center;

  .container {
    display: flex;
    align-content: center;
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    padding: 2px 0px 0px 0px;

    .title {
      width: 60%;
      padding: 8px 4px 8px 16px;

      &.login {
        cursor: pointer;
      }

      .MuiSvgIcon-root {
        margin-top: 4px;
        margin-bottom: -6px;
        margin-left: 12px;
        cursor: pointer;
      }
    }

    .toonster-container {
      width: 100%;
      text-align: right;
    }
  }
}