@import '../../colors.scss';

.stat-element {
  font-family: 'Bellefair', serif;
  font-size: 14px;
  color: $color-light;
  user-select: none;

  border-radius: 16px;
  background-color: $color-dark;
  //margin: 2px 0 2px 0;
  margin: 2px 2px;
  height: 34px;
  width: calc(50% - 4px);
  display: flex;
  justify-content: space-between;

  .stat-lead {
    text-transform: uppercase;
    padding-top: 10px;
    z-index: 5;
  }

  .stat-control {
    z-index: 3;
    background-color: $color-dark;
    border: 0;
    margin-top: 0px;
    padding-top: 1px;
    padding-bottom: 0px;
    color: $color-light;
    font-size: 24px;
    cursor: pointer;
    width: 32px;
    color: $color-light;
    &:hover {
      //filter: brightness(150%);
    }
    &:focus {
      outline: none;
      filter: none;
      background-color: $color-dark;
    }
    &.disabled {
      cursor: default;
      &:hover { 
        filter: none;
      }
      color: $color-dark;

    }
    &.left {
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
      //border-right: 1px solid $color-midtone;
      border-radius: 16px;
      margin-right: -16px;

      span {
        margin-left: 8px;
      }

      &.disabled {
        border-right: 1px solid transparent;
      }
    }
    &.right {
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
      //border-left: 1px solid $color-midtone;
      border-radius: 16px;
      margin-left: -16px;
      text-align:right;

      span {
        margin-right: 8px;
      }

      &.disabled {
        border-left: 1px solid transparent;
      }
    }
  }

  .stat-total {
    padding-top: 6px;
    z-index: 5;

    .amount {
      font-size: 18px;
      font-weight: bold;
    }
  }
}
