@import '../../colors.scss';

.statquad {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: $color-dark;
  border-radius: 16px;
  margin: 2px 2px;
  font-family: 'Bellefair', serif;
  font-size: 14px;
  color: $color-light;

  .statgrid {
    width: 25%;
    text-align: center;
    border-right: 1px solid $color-off-dark;
    padding: 8px 16px;
    background-color: $color-dark;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    &.overlay-active {
      background-color: $color-light;
      color: $color-dark;

      &:hover {
        background-color: $color-light;
        color: $color-dark;
      }
    }
    &:hover {
      background-color: $color-midtone;
    }

  }

  .statgrid:first-of-type {
    border-right: 1px solid $color-off-dark;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;

    &.overlay-active {
      border-bottom-left-radius: 0px;
    }
  }

  .statgrid:last-of-type {
    border-right: 0;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;

    &.overlay-active {
      border-bottom-right-radius: 0px;
    }
  }
}

.statgrid-overlay {
  background-color: $color-light;
  width: 75%;
  max-width: 250px;
  padding: 16px;
  border: 0;
  margin: 0px 0 0 0;
  border-radius: 16px;
  color: $color-dark;
  font-family: 'Bellefair', serif;
  font-size: 14px;
  z-index: 24;

  &.hp {
    border-top-left-radius: 0px;
  }
  &.inf {
    border-top-right-radius: 0px;
  }
  .grid {

    .stat-element {
      .control-container {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .stat-control {
          width: 25%;
          max-width: 32px;
          text-align: center;
          padding: 2px 2px;
          font-size: 28px;
          background-color: $color-off-dark;
          color: $color-light;
          cursor: pointer;
          user-select: none;

          &:hover {
            filter: brightness(125%);
          }

          &.left {
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
            border-right: 1px solid $color-midtone;
          }

          &.right {
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
            border-left: 1px solid $color-midtone;
          }

          &.disabled {
            color: transparent;
            cursor: default;
            &:hover {
              filter: none;
            }
          }
        }

        .stat-lead {
          background-color: $color-off-dark;
          color: $color-light;
          padding: 12px 4px 0px 4px;
          width: 100%;
          text-align: center;
          display: flex;
          justify-content: center;

          .acq {
            margin-top: -9px;
            font-family: 'Bellefair', serif;
            color: $color-light;

            input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }

            input[tyoe='number'] {
              -moz-appearance: textfield;
            }

            .MuiInputBase-input {
              font-weight: bolder;
              font-size: 20px;
              text-decoration: underline;
              width: 32px;
              text-align: center;

              
            }
          }
        }
      }

      .stat-info {
        display: flex;
        justify-content: space-around;
        margin-top: 12px;

        .focus-point {
          font-size: 24px;
          font-weight: bolder;
        }

        .reduction-container {
          text-align: center;
          margin-top: -8px;
          margin-bottom: -12px;

          .reduction-control {
            display: flex;
            justify-content: space-around;
            cursor: pointer;
            color: $color-light;
            
            padding: 2px 2px;
            font-size: 18px;
 
            .numeric {
              padding: 2px 8px;
              background-color: $color-off-dark;
            }

            .stat-control {
              width: 24px;
              background-color: $color-off-dark;
              user-select: none;

              &:hover {
                filter: brightness(125%);
              }

              &.disabled {
                color: transparent;
                cursor: default;
                &:hover {
                  filter: none;
                }
              }

              &.left {
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                border-right: 1px solid $color-midtone;
              }

              &.right {
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                border-left: 1px solid $color-midtone;
              }
            }
          }
        }
      }
    }
  }
}
