@import 'colors.scss';

body {
  background-color: $color-off-dark;
}

.App {
  text-align: center;
}

.MuiPaper-root.MuiAppBar-colorPrimary {
  background-color: $color-dark;
  color: $color-light;
}

.app-window {
  background-color: $color-off-dark;
  // background-image: url('./paper-bg.jpg');
  // background-repeat: repeat;
  // background-position: 263%;

  .builder {
    display: flex;
    max-width: 480px;
    margin: 42px auto 0 auto;
    background-color: $color-off-dark;
    padding: 16px 0px 0px 0px;
    flex-wrap: wrap;
    // opacity: 0.9;

    .container {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      margin: 0px 8px;
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    border-top: 1px solid $color-light;
    font-style: italic;
    font-size: 12px;
    color: $color-light;
    padding: 4px 0px;
    font-family: Alegreya, serif;

    .text {
      width: 100%;
      max-width: 480px;
      padding: 0 16px;
    }
  }
}
