$color-combat-0: #53331B;  // Main combat color */
$color-combat-1: #543A26;
$color-combat-2: #553721;
$color-combat-3: #4F2D15;
$color-combat-4: #49270E;

$color-wasteland-0: #274817;  // Main Secondary color (1) */
$color-wasteland-1: #2E4921;
$color-wasteland-2: #2B491C;
$color-wasteland-3: #224512;
$color-wasteland-4: #1D3F0C;

$color-civilized-0: #46172C;  // Main Secondary color (2) */
$color-civilized-1: #462032;
$color-civilized-2: #471C30;
$color-civilized-3: #431128;
$color-civilized-4: #3E0C22;

$color-anomaly-0: #112F33; // Main civilized color */
$color-anomaly-1: #183033;
$color-anomaly-2: #153034;
$color-anomaly-3: #0D2C31;
$color-anomaly-4: #09292D;

$color-unused-4: #525252;
$color-unused-3: #626262;
$color-unused-2: #727272;
$color-unused-1: #828282;

$color-dark: #333;
$color-midtone: #777;
$color-light: #ccc;
$color-gray: #888;
