@import '../../colors.scss';

.builder {
  .container {
    .MuiSvgIcon-root.MuiNativeSelect-icon {
      color: #ccc;
      margin-top: 0px 2px 2px 2px;
    }

    .MuiNativeSelect-select.MuiInputBase-input {
      background-color: $color-dark;
    }
  }
}

