@import '../../colors.scss';

.toonster-overlay {
  background-color: $color-dark;
  color: $color-light;
  padding: 8px 16px;
  width: 50%;
  max-width: 320px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border: 1px solid $color-midtone;
  z-index: 21;
  opacity: 0.9;
  border-top: 0;
}

.MuiDivider-root.toon-divider {
  background-color: $color-midtone;
  margin-bottom: 8px;
}

.toon-row {
  display: flex;
  justify-content: space-between;
  font-family: Alegreya, serif;
}

.toon-subrow {
  display: flex;
  justify-content: flex-end;

  .hidden {
    color: transparent;
  }
}

.toon-delete {
  &.hidden {
    display: none;
  }
}

.toon-undelete {
  &.hidden {
    display: none;
  }
}

.MuiInputBase-root.toon-entry {
  display: block;
  input {
    color: $color-light;
    text-align: right;
    font-family: Alegreya, serif;

    &:disabled {
      text-decoration: line-through;
      color: $color-midtone;
    }
  }
}

.expand-hidden {
  display: none !important;
}
