@import '../../colors.scss';

.toonster {
  display: flex;
  justify-content: flex-end;
  z-index: 51;

  .MuiButtonBase-root.MuiButton-root.MuiButton-text {
    max-width: 320px;
    margin: -12px 0 -12px 0px;
    text-transform: none;
    color: $color-light;
    border-radius: 0;
    padding: 16px 12px 4px 12px;
    font-family: Alegreya, serif;
    font-size: 22px;
    max-width: 240px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: right;
  }

  .overlay {
    background-color: #333;
    color: $color-light;
    margin: 0 4px 0 0;
    padding: 8px 16px;
    width: 100%;
    max-width: 320px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border: 1px solid $color-midtone;
    border-top: 0;
  }
}



.MuiDivider-root.toon-divider {
  background-color: $color-midtone;
  margin-bottom: 8px;
}

.toon-row {
  display: flex;
  justify-content: space-between;
  font-family: Alegreya, serif;

  &.new-toon {
    cursor: pointer;
    border-radius: 16px;
    padding-bottom: 4px;

    .toon-subrow {
      width: 100%;
      padding: 4px 0px;
    }
  }

  &.debug {
    display: flex;
    justify-content: center;
    align-items: center;

    .instructions {
      text-align: center;

      .small {
        font-size: 12px;
      }
    }

    input {
      margin: 4px 16px;
    }
  }
}

.toon-subrow {
  display: flex;
  justify-content: center;

  .hidden {
    color: transparent;
  }
}

.toon-delete {
  &.hidden {
    display: none;
  }
}

.toon-undelete {
  &.hidden {
    display: none;
  }
}

.MuiInputBase-root.toon-entry {
  display: block;

  input {
    color: $color-light;
    text-align: right;
    font-family: Alegreya, serif;
    padding-right: 24px;
    border-radius: 16px;
    margin-bottom: 4px;

    &:disabled {
      text-decoration: line-through !important;
      font-weight: normal !important;
      color: $color-midtone;
    }
  }
}

.MuiInputBase-root.toon-entry.highlighted {
  .MuiInputBase-input {
    font-weight: bolder;
    text-decoration: underline;
    background: linear-gradient(90deg, $color-dark 0%, $color-gray 200%);
  }
}

.expand-hidden {
  display: none !important;
}
